header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 60px 20px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}
nav ul li .navlink {
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  /* background: #23232a; */
  padding: 16px 24px;
  border-radius: 10px;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}
